In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../../../../datasets/predict_moview_ratings/train_v2.csv')

In [3]:
df.head()

       ID  user  movie  rating
0  610739  3704   3784       3
1  324753  1924    802       3
2  808218  4837   1387       4
3  133808   867   1196       4
4  431858  2631   3072       5